.header-container {
  text-align: center;
  margin-bottom: 2rem;
  background-color: beige ;
  padding: 1rem 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);

  .header-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #222;
  }

  .header-kpis {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;

    .kpi {
      background: #f5f5f5;
      padding: 0.5rem 1rem;
      border-radius: 6px;
      min-width: 80px;

      .kpi-label {
        display: block;
        font-size: 0.9rem;
        color: #555;
      }

      .kpi-value {
        font-size: 1.2rem;
        font-weight: bold;
        color: #000;
      }
    }
  }
}
