.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px; /* ajuste selon ton design */
}

.spinner {
  border: 6px solid #eee;
  border-top: 6px solid #0b868f;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}
.retry-btn {
  margin-top: 10px;
  padding: 6px 12px;
  background-color: #0b868f;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.retry-btn:hover {
  background-color: #07666b;
}


@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
