.country-page {
  .center {
    text-align: center;
  }

  .split {
    display: flex;
    justify-content: space-around;
    margin: 2rem 0;

    .stat {
      text-align: center;
      p:first-child {
        color: gray;
        font-weight: 500;
      }
      p:last-child {
        font-size: 1.4rem;
        font-weight: bold;
      }
    }
  }

  .wrapper-container {
    display: flex;
    justify-content: center;
  }

  .container {
    width: 60%;
    h2 {
      text-align: center;
      color: gray;
      margin-top: 1rem;
    }
  }

  @media screen and (max-width: 1000px) {
    .container {
      width: 100%;
    }
  }

  .error {
    color: #b71c1c;
    margin-top: 2rem;
  }
}


.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;

  .header-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  .header-kpis {
    display: flex;
    gap: 2rem;

    .kpi {
      display: flex;
      flex-direction: column;
      align-items: center;

      .kpi-label {
        font-weight: 500;
        color: #555;
      }

      .kpi-value {
        font-size: 1.2rem;
        font-weight: bold;
      }
    }
  }
}
