<!-- Header réutilisable -->
<app-header [title]="headerTitle" [indicators]="headerIndicators"></app-header>

<div class="country-page">
  <div class="header center">
    <h1>{{ countryName }}</h1>
  </div>

  <div class="stats-container split">
    <div class="stat">
      <p>Number of Entries</p>
      <p>{{ totalParticipations }}</p>
    </div>
    <div class="stat">
      <p>Total Medals</p>
      <p>{{ totalMedals }}</p>
    </div>
    <div class="stat">
      <p>Total Athletes</p>
      <p>{{ totalAthletes }}</p>
    </div>
  </div>

  <div class="chart-section wrapper-container">
    <div class="container">
      <canvas id="countryChart"></canvas>
      <h2>Medals per Year</h2>
    </div>
  </div>

  <div class="center">
    <a routerLink="">← Back to Dashboard</a>
  </div>

  <div *ngIf="errorMessage" class="error center">
    {{ errorMessage }}
  </div>
</div>
